form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input {
            display: flex;
            padding: 16px;
            width: 100%;
            align-items: flex-start;
            border-radius: 20px;
        }

        select {
            width: 50%;
        }
    }

    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        label {
            width: 50%;
        }
    }
}

::deep .currency-selector {
    padding: 16px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

header h4, label span {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h4 {
    margin-bottom: 4px;
}

input, select {
    max-width: max(50vw, 100%);
}

.receipt {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h4 {
        margin: 16px;
    }

    p {
        margin: 8px 0;
    }
}