#kori-language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  padding: 0;
}
#kori-language .first-language, #kori-language .second-language {
  display: flex;
  width: 220px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#kori-language select {
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  text-align: left;
  background: url("icons/Chevron down.svg") no-repeat right white;
  font-family: "ArticulatCF";
  font-size: 14px;
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid #CCD5EB;
  background-position: calc(100% - 12px) center;
}
#kori-language select option {
  background-color: var(--white);
  font-family: "ArticulatCF";
  font-size: 14px;
  line-height: 100%;
}
#kori-language select option:hover {
  background-color: var(--grey-200);
}
#kori-language select option:checked {
  background-color: none;
}
#kori-language button {
  display: flex;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #4162DC;
  background: #5377FC;
  font-family: "ArticulatCF";
  font-size: 14px;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}
#kori-language button.icon-btn {
  width: 32px;
  background: #EEF2FA;
  border: 1px solid #EEF2FA;
}
#kori-language button.icon-btn svg {
  margin-top: -2px !important;
}
#kori-language .kori-btn__primary {
  display: flex;
  height: 32px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Blue-500, #4162DC);
  background: var(--Blue-400, #5377FC);
  color: var(--White, #FFF);
  font-family: "ArticulatCF";
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}
#kori-language .kori-btn__primary:hover {
  border-radius: 8px;
  border: 1px solid var(--Blue-500, #4162DC);
  background: var(--Blue-300, #708DF6);
}
#kori-language .kori-btn__primary:active {
  border-radius: 8px;
  border: 1px solid var(--Blue-500, #4162DC);
  background: var(--Blue-500, #4162DC);
}
#kori-language .kori-btn__primary:disabled, #kori-language .kori-btn__primary[disabled] {
  border: 1px solid var(--Blue-500, #4162DC);
  background: var(--Blue-400, #5377FC);
  opacity: 0.5;
}
#kori-language .kori-btn__secondary {
  display: flex;
  width: 118px;
  height: 32px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Gray-800, #363E51);
  background: var(--White, #FFF);
  color: var(--Gray-800, #363E51);
  font-family: "ArticulatCF";
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}
#kori-language .kori-btn__secondary:hover {
  border: 1px solid var(--Gray-800, #363E51);
  background: var(--Gray-50, #EEF2FA);
}
#kori-language .kori-btn__secondary:active {
  border: 1px solid var(--Gray-800, #363E51);
  background: var(--Gray-100, #DDE5F5);
}
#kori-language .kori-btn__secondary:disabled, #kori-language .kori-btn__secondary[disabled] {
  border: 1px solid var(--Gray-800, #363E51);
  background: var(--White, #FFF);
  opacity: 0.5;
}
#kori-language .kori-btn__tertiary {
  display: flex;
  width: 118px;
  height: 32px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 0px solid var(--Blue-50, #F1F3FE);
  background: var(--White, #FFF);
  color: var(--Gray-800, #363E51);
  font-family: "ArticulatCF";
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}
#kori-language .kori-btn__tertiary:hover {
  border: 0px solid var(--Blue-100, #B7C6FF);
  background: var(--Gray-50, #EEF2FA);
}
#kori-language .kori-btn__tertiary:active {
  border: 0px solid var(--Blue-100, #B7C6FF);
  background: var(--Gray-100, #DDE5F5);
}
#kori-language .kori-btn__tertiary:disabled, #kori-language .kori-btn__tertiary[disabled] {
  border: 1px solid var(--Blue-50, #F1F3FE);
  background: var(--White, #FFF);
  opacity: 0.5;
}
