#kori-texteditor {
    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            padding: 0 !important;
            border: 1px solid transparent !important;
            border-radius: 4px;
            background: none;
            color: var(--Gray-800, #363E51);
            transition: 0.3s ease-in-out;

            svg {
                width: 16px !important;
                height: 16px !important;
                margin-top: 0 !important;
            }

            &:hover {
                border: 1px solid var(--Gray-800, #363E51);
                background: var(--Gray-50, #EEF2FA);
            }

            &:active {
                border: 1px solid var(--Gray-800, #363E51);
                background: var(--Gray-100, #DDE5F5);
            }

            &:disabled, &[disabled] {
                border: 1px solid var(--Gray-800, #363E51);
                background: var(--White, #FFF);
                opacity: 0.5;
            }
        }
    }
}
