@inherits ModalModel

<div class="blossom-modal">
    <div>This is a modal</div>
    <div class="blossom-modal--button-container">
        <button @onclick="Cancel" class="modal-cancel">Cancel</button>
        @*<button @onclick="CloseModal" class="modal-close">Close</button>*@
        <button @onclick="Confirm" class="modal-confirm">Confirm</button>
    </div>
</div>

@code {
    async void Confirm()
    {
        await Ok();
    }

    async void CloseModal()
    {
        await Ok();
    }
}