<div class="dropdown-item" value="@Value" @onclick=Click>
    @Name
</div>

@code {
    [Parameter] public string Value { get; set; } = null!;
    [Parameter] public string Name { get; set; } = null!;
    [Parameter] public EventCallback<string> OnClick { get; set; }

    async Task Click()
    {
        await OnClick.InvokeAsync(Value);
    }
}