<div class="dropdown-item" value="@Value">
    @Name
</div>

@code {
    [Parameter] public string Value { get; set; }
    [Parameter] public string Name { get; set; }
    //[Parameter] public bool IsTaskHandler { get; set; }
    //[Parameter] public string FunctionName { get; set; }
}