<footer class="bottom-bar">
    <button>
        <span>Messages</span>
    </button>
    <button>
        <span>Contacts</span>
    </button>
    <button>
        <span>Team</span>
    </button>
    <button>
        <span>You</span>
    </button>
</footer>

@code {
}
