nav {
    width: var(--app-width);
    height: calc(100% - 78px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    background: var(--primary);
    color: white;

    .logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        cursor: pointer;

        ::deep svg {
            width: 240px;
            height: auto;
        }
    }

    .sidebar-bottom {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 60px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &-img {
            width: var(--app-width);
            max-width: 800px;
            margin-left: -40px;

            img {
                width: 100%;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin: 0 auto;

            h2 {
                color: var(--white, #FFF);
                font-family: Poppins;
                font-size: 3.1rem;
                font-style: normal;
                font-weight: 600;
                line-height: 36px; /* 116.129% */
            }

            .subheader {
                display: flex;
                flex-direction: column;
                gap: 24px;

                p {
                    color: var(--grey-100, #F8F8FA);
                    font-family: Inter;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: -0.24px;
                }
            }
        }
    }

    .confirm-contact {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: var(--white, #FFF);
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 141.176% */
        letter-spacing: -0.24px;
    }

    section {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        background: rgba(79, 129, 153, 0.20);
        border: 1px solid rgba(219, 243, 252, 0.20);
        border-radius: 24px;
        backdrop-filter: blur(4px);

        header {
            h3 {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: normal;
            }

            .subheader {
                font-family: 'Inter';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: normal;
            }
        }

        h4 {
            color: #FFF;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &.add-domain form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            label {
                input {
                    width: var(--container-width);
                }
            }
        }

        .btn-container {
            width: 100%;
            /*button {
                display: flex;
                width: 100%;
                height: 48px;
                padding: 16px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 20px;
                border: 1px solid var(--orange-300, #FF945E);
                background: var(--orange-300, #FF945E);
                color: var(--blue-700, #07374F);*/
            /* Body/Regular/Medium */
            /*font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }*/
        }
    }
}
