@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @MyCounter.Value</p>

<button class="btn btn-primary" @onclick="MyCounter.CountUp">+1 me</button>
<button class="btn btn-primary" @onclick="MyCounter.CountDown">-1 me</button>
<button class="btn btn-primary" @onclick="MultiplyBy2">*2 me</button>
<button class="btn btn-primary" @onclick="MultiplyBy5">*5 me</button>

@code {
    Counter MyCounter;

    protected override async Task OnInitializedAsync()
    {
        MyCounter = await Api.Counters.Create();
    }

    async Task MultiplyBy2() => await MyCounter.MultiplyBy(2);
    async Task MultiplyBy5() => await MyCounter.MultiplyBy(5);
}
