@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('/_content/Kori/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('/_content/Kori/fonts/Lato-Bold.ttf') format('truetype');
}

.login-component {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 16px;
    font-family: Lato;
    font-weight: 400;
    line-height: 160%;

    .login-component {
        &__toggle {
            display: none;

            &.show {
                display: block;
            }

            > * {
                width: 32px;
                height: 32px;
                padding: 0;
                border-radius: 24px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin: 0;
                }
            }

            .login-component__logged-out {
                background: var(--grey-900);
            }

            .login-component__logged-in {
                display: none;
                background: #36A42C;
                border-radius: 50%;

                &.show {
                    display: block;
                }
            }
        }

        &__menu {
            width: 200px;
            display: none;
            animation: login_fadeIn 1000ms linear;
            z-index: 1000;
            padding: 16px 16px 0px 16px;
            background: white;

            &.show {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            li, button {
                color: var(--grey-700) !important;
            }

            button {
                padding: 16px 20px !important;
                border: 1px solid var(--grey-200, #DBDBDB) !important;
                border-radius: 0 !important;
                border-image: none !important;
                font-family: Lato;
                font-weight: 700;
                line-height: 160%;
                transition: 300ms ease-in-out;

                &:hover {
                    background: var(--grey-50);
                }

                &:active {
                    background: var(--white);
                }
            }
        }

        &__actions {
            display: flex;
            flex-direction: column;
            gap: 16px !important;
        }

        &__user {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .login-component__logout-btn {
                padding: 0 !important;
                background: none !important;
                border: none !important;
                border-radius: 0 !important;

                img {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    opacity: 0.5;
                }

                &:active {
                    opacity: 1;
                }
            }
        }

        &__btn {
            display: flex;
            gap: 16px;

            img {
                width: 10px;
                height: auto;
            }
        }

        &__language {
            .language-list {
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                max-height: 0px;
                opacity: 0;
                transition: all 1s ease-in-out;
                -webkit-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;

                &.show {
                    padding-bottom: 16px;
                    max-height: 400px;
                    opacity: 1;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 8px;
                overflow-y: auto;
                list-style: none;
                width: 184px;
                margin-top: 16px;
                margin-right: -16px;
                padding-right: 16px;
            }

            li {
                list-style: none;
            }
        }

        &.show {
            display: flex;
            gap: 12px;
        }

        .kori-buddy {
            width: 88px;
        }

        &__container {
            padding: 12px;
            background: var(--white);
            border-radius: 0 0 16px 16px;
        }

        h5, input, label, button {
            font-family: 'Love Ya Like A Sister' !important;
            font-size: 14px;
            color: var(--grey-900);
            font-weight: 400;
        }

        &__header {
            margin-bottom: 12px;
        }

        &__input {
            display: flex;
            gap: 8px;
            padding: 0;
            background: var(--white);
            border: 10px solid transparent;
            border-image: url('/_content/Kori/borders/black-16.svg') 15 round;

            input {
                padding: 0;
                border: none;

                &::placeholder {
                    color: var(--grey-500);
                }

                &:-ms-input-placeholder {
                    color: var(--grey-500);
                }
            }
        }

        &__keep {
            display: flex;
            gap: 8px;
            font-size: 14px;

            input {
                margin-top: 6px;
                width: 14px;
                height: 14px;
                border: 4px solid transparent;
                border-image: url('/_content/Kori/borders/black-8.svg') 15 round;
                border-radius: 2px;

                &::before {
                    background: var(--grey-700);
                    box-shadow: var(--grey-700);
                }
            }
        }

        &__actions {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-top: 12px;

            button {
                width: 100%;
                padding: 0;
                background: none;
                border: 10px solid transparent;
                border-image: url('/_content/Kori/borders/black-8.svg') 15 round;
                font-style: normal;

                &.login-component__btn {
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    margin: 0 auto;
                    background: var(--orange-500);
                    border-radius: 8px;
                    border-image-outset: 2px;

                    &:hover {
                        background: var(--orange-200) !important;
                        filter: opacity(1) !important;
                    }

                    &:active {
                        background: var(--orange-500) !important;
                    }
                }

                &.login-component__cancel {
                    &:hover {
                        filter: opacity(0.6) !important;
                    }

                    &:active {
                        filter: opacity(1) !important;
                    }
                }
            }
        }
    }
}


@keyframes login_fadeIn {
    0% {
        opacity: 0;
        top: -211px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}
