.bouncy-icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        animation: smileBounce 0.6s ease-in-out;
        transform-origin: center;
    }
}

@keyframes smileBounce {
    0% {
        transform: scale(1, 1);
    }

    20% {
        transform: scale(1.1, 0.9);
    }

    40% {
        transform: scale(0.95, 1.05);
    }

    60% {
        transform: scale(1.05, 0.95);
    }

    80% {
        transform: scale(0.98, 1.02);
    }

    100% {
        transform: scale(1, 1);
    }
}
