.language-select {
  border-radius: 32px;
  border: 1px solid var(--purple-100);
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
}
.language-select ::deep select {
  width: 100%;
  background: transparent;
  cursor: pointer;
  border: none;
  background: var(--yellow-50);
}
.language-select ::deep select:focus {
  outline: none;
  border-color: var(--purple-300);
}
