
<div class="message-card">
    <p>
        @Message.Body
    </p>
    <aside>@Message.CreatedDate.ToString()</aside>
</div>

@code {
    [CascadingParameter] User? User { get; set; }
    [Parameter] public MessageEvent Message { get; set; }

    // need logic for handling long strings
}