<div class="user-card">
    <img class="profile-img" src="images/profile-stock.png" />
    <span>@FirstName @LastName</span>
</div>

@code {
    [Parameter] public string FirstName { get; set; }
    [Parameter] public string LastName { get; set; }
}