figure {
  height: 3rem;
  width: 3rem;
  border-radius: 200px;
  margin: 0;
}
figure svg {
  padding: 6%;
}
figure svg text {
  font-family: "Noto Emoji", sans-serif;
}
figure:hover {
  cursor: pointer;
}
figure:hover svg {
  animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
