<header>
    <h4>Avatar</h4>
    <p>Customize your profile's avatar!</p>
</header>
<div>
    <AuraAvatar Avatar="UserAvatar" />
</div>
<div>
    <ColorSelector @bind-BackgroundColor="UserAvatar.BackgroundColor" />
    <EmojiSelector Emoji="@UserAvatar.Emoji" EmojiChanged="HandleEmojiChanged" />
</div>

@code {
    [Parameter] public required BlossomAvatar UserAvatar { get; set; }
    [Parameter] public EventCallback<string> OnEmojiChanged { get; set; }

    private async Task HandleEmojiChanged(string emoji)
    {
        UserAvatar.Emoji = emoji;
        await OnEmojiChanged.InvokeAsync(emoji);
    }
}
