/* Blossom Components */
.hide {
    display: none;
}

.components-demo {
    padding-bottom: 200px;
}

.blossom-tooltip {
    max-width: 204px;
    padding: 16px 10px;
    border-radius: 8px;
    background: #003B5F;
    font-family: 'CircularStd', sans-serif;
    color: #FFFFFF;
    text-align: center;
    position: relative;

    .tooltip-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 8px;
    }

    .tooltip-text {
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
    }

    button {
        padding: 0;
        background: none;
        border: none;
    }

    .tooltip-close {
        transition: 200ms ease-in-out;

        &--Text {
            font-family: 'CircularStd', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 150%;
            color: #7EB0D1;
        }

        &--CenterBottom {
            margin-top: 16px;
        }

        &--RightTop {
            position: absolute;
            right: 5px;
            top: 5px;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }
    }

    .tooltip-carrot {
        &--Top {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #003B5F;
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }

        &--Bottom {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #003B5F;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }

        &--Right {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #003B5F;
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
        }

        &--Left {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid #003B5F;
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.open-modal {
    display: block;
    width: 100px;
    padding: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: none;
    color: black;

    &:hover {
        cursor: pointer;
    }
}

/*.blazored-modal {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04) !important;
    border-radius: 16px !important;
    padding: 24px;

    .blossom-modal {
        &--button-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 40px;

            button {
                padding: 8px 16px;
                color: white;
                border: 1px solid #003B5F;
                border-radius: 8px;
                background: #003B5F;
                font-family: 'CircularStd';
                font-weight: 400;
                transition: 200ms ease-in-out;

                &:hover {
                    cursor: pointer;
                }

                &.modal-confirm {
                    &:hover {
                        background: #D3E4F1;
                        color: #003B5F;
                    }
                }

                &.modal-cancel {
                    background: white;
                    color: #003B5F;

                    &:hover {
                        background: #D3E4F1;
                    }
                }
            }
        }
    }
}
*/

.blossom-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 550px;
    padding: 24px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04) !important;
    border-radius: 16px !important;
    background: white;
    font-family: 'CircularStd', sans-serif;
    z-index: 2;
    animation: fadeIn 300ms ease-in-out;

    &.show {
        display: block;
    }

    &--overlay {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;

        &.show {
            display: block;
        }
    }

    header {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
    }

    p {
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
    }

    .bm-close {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 24px;
        height: 24px;

        &:hover {
            cursor: pointer;
        }
    }

    .bm-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 40px;

        button {
            padding: 8px 16px;
            color: white;
            border: 1px solid #003B5F;
            border-radius: 8px;
            background: #003B5F;
            font-family: 'CircularStd';
            font-weight: 400;
            transition: 200ms ease-in-out;

            &:hover {
                cursor: pointer;
            }

            &.bm-confirm {
                &:hover {
                    background: #D3E4F1;
                    color: #003B5F;
                }
            }

            &.bm-cancel {
                background: white;
                color: #003B5F;

                &:hover {
                    background: #D3E4F1;
                }
            }
        }
    }
}

.blossom-dropdown {
    width: 200px;
    max-height: 100%;
    transition: max-height 250ms ease-in;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
    }

    .bd-placeholder {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-right: -8px;

            path {
                fill: rgba(0, 0, 0, 0.6);
            }
        }

        .arrow-expand {
            transform: rotate(0deg);
            animation: rotateDropdownArrow2 200ms ease-in-out;
        }

        .arrow-collapse {
            transform: rotate(180deg);
            animation: rotateDropdownArrow 200ms ease-in-out;
        }
    }

    .bd-content {
        display: none;

        &.show-options {
            display: block;
        }

        .bd-search {
            position: relative;
            margin: 8px 0;
            padding: 4px;
            border: 1px solid rgba(0, 0, 0, 0.6);
            border-radius: 4px;

            input {
                width: 88%;
                border: none;
                font-family: 'CircularStd';
                color: rgba(0, 0, 0, 0.6);
            }

            svg {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 5px;
                right: 6px;
            }
        }

        .bd-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-height: 200px;
            margin-top: 8px;
            margin-right: -8px;
            padding: 8px;
            overflow-y: auto;
            overflow-x: hidden;

            .bd-group {
                display: flex;
                flex-direction: column;
                gap: 4px;
                margin-left: -8px;
                padding-bottom: 8px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);

                &:last-child {
                    border-bottom: none;
                }

                &--header {
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.6);
                }

                .bd-item {
                    margin-left: 16px;
                }
            }

            .bd-item {
                transition: 200ms ease-in-out;

                &:hover {
                    filter: opacity(0.6);
                }

                &:active {
                    filter: none;
                }
            }
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotateDropdownArrow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateDropdownArrow2 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}