@page "/components-demo"

<div class="components-demo">
    <header> 
        <h1>Component Library</h1>
    </header>

    <div class="components-list">
        <Tooltip 
            Label="CreateAvatar"
            Title="Create your Avatar" 
            Text="You can change your display name, default language, voice, and avatar anytime you want! Check out your profile settings."
            CloseType="Text"
            ClosePosition="CenterBottom"
            CloseText="Dismiss"
            CarrotPosition="Top"
            />
        <Tooltip 
            Label="InviteFriends"
            Title="Invite friends here!" 
            Text="You can invite your friends by sending an invitation email to them."
            CloseType="Icon"
            ClosePosition="RightTop"
            CloseText="Dismiss"
            CarrotPosition="Left"
            />

        @*<BlossomModal Title="Example Modal" Text="Are you sure?" Type="Delete" />*@
        <button class="open-modal" @onclick=OpenModal>Open</button>

        <Dropdown>
            <DropdownSearch />
            <DropdownGroup Header="Group 1">
                <DropdownItem Value="1" Name="Option 1" />
                <DropdownItem Value="2" Name="Option 2" />
            </DropdownGroup>
            <DropdownGroup Header="Group 2">
                <DropdownItem Value="1" Name="Option 1" />
                <DropdownItem Value="2" Name="Option 2" />
                <DropdownItem Value="3" Name="Option 3" />
            </DropdownGroup>
        </Dropdown>

    </div>
</div>

<style>
    .components-demo {
        font-family: 'CircularStd', sans-serif;
    }

    .components-list {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
</style>

@code {
    string[] stringArray = { "one", "two", "three", "four" };

    void OpenModal()
    {
        Modal.Show<BlossomModal>("Example Modal");
    }
}
