<div>
    <InputText @bind-Value="Email" @oninput="OnEmailChanged" />
    @* <label>
        <InputCheckbox Value="VerifyEmail" ValueChanged="OnVerifyEmailChanged" ValueExpression="@(() => VerifyEmail)" />
        <span>Verify this email</span>
    </label> *@
</div>

@code {
    [Parameter] public string Email { get; set; } = "";
    [Parameter] public bool VerifyEmail { get; set; }
    [Parameter] public EventCallback<string> EmailChanged { get; set; }
    [Parameter] public EventCallback<bool> VerifyEmailChanged { get; set; }

    private async Task OnEmailChanged(ChangeEventArgs e)
    {
        Email = e.Value?.ToString() ?? "";
        await EmailChanged.InvokeAsync(Email);
    }

    private async Task OnVerifyEmailChanged(bool value)
    {
        VerifyEmail = value;
        await VerifyEmailChanged.InvokeAsync(value);
    }
}

