<Sparc.Blossom.Shared.Modal Title=@($"Enter the verification code sent to {CurrentVerificationDestination}")
       OnClose="OnCancelClicked"
       ShowDefaultButtons="false">
    <div>
        <InputText @bind-Value="VerificationCode" />
        @if (!string.IsNullOrEmpty(VerificationError))
        {
            <p class="error-text">@VerificationError</p>
        }
    </div>
    <footer>
        <button class="secondary-btn" @onclick="OnCancelClicked">Cancel</button>
        <button class="primary-btn" @onclick="OnVerifyClicked">Verify</button>
    </footer>
</Sparc.Blossom.Shared.Modal>

@code {
    [Parameter] public string CurrentVerificationDestination { get; set; } = "";
    [Parameter] public string VerificationError { get; set; } = "";
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback<string> OnVerify { get; set; }

    private string VerificationCode { get; set; } = "";

    private async Task OnVerifyClicked()
    {
        await OnVerify.InvokeAsync(VerificationCode);
    }

    private async Task OnCancelClicked()
    {
        await OnCancel.InvokeAsync();
        VerificationCode = "";
    }
}
