@using System.Globalization
@using Microsoft.JSInterop
@using Sparc.Blossom.Authentication
@using Microsoft.AspNetCore.Components.Forms

<div class="language-select" translate="no">
    @if (Languages.Any())
    {
        <InputSelect @bind-Value="SelectedLanguageId" @bind-Value:after="ChangeLanguage" >
            @foreach (var language in Languages.OrderBy(x => x.NativeName))
            {
                <option value="@language.Id">
                    @language.NativeName @(language.NativeName == language.DisplayName ? "" : $"({language.DisplayName})")
                </option>
            }
        </InputSelect>
    }
    <div class="language-select-progress-bar">
        <div class="progress-bar-value"></div>
    </div>
</div>

@inject ITovik Tovik
@inject ISparcAura Aura 
@inject IJSRuntime Js
@code {
    [Parameter] public BlossomAvatar? Avatar { get; set; }
    [Parameter] public EventCallback<Language> OnLanguageChanged { get; set; }
    public IEnumerable<Sparc.Blossom.Content.Language> Languages { get; set; } = [];
    [SupplyParameterFromQuery] public string? Lang { get; set; }
    string SelectedLanguageId = "";
    public bool IsSpinning;

    protected override async Task OnInitializedAsync()
    {
        Languages = await Tovik.GetLanguages();
        SelectedLanguageId = Lang
                ?? Avatar?.Language?.Id
                ?? Languages.FirstOrDefault(l => l.Id == CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)?.Id
                ?? string.Empty;

        if (!OnLanguageChanged.HasDelegate)
            await NotifyTovik();
    }

    protected override void OnParametersSet()
    {
        if (!IsSpinning && Avatar?.Language != null && Avatar.Language.Id != SelectedLanguageId)
            SelectedLanguageId = Avatar.Language.Id;
    }

    public async Task SetLanguage(string id)
    {
        SelectedLanguageId = id;
        IsSpinning = false;
        await ChangeLanguage();
    }

    async Task ChangeLanguage()
    {
        var selectedLanguage = Languages.FirstOrDefault(l => l.Id == SelectedLanguageId);
        if (OnLanguageChanged.HasDelegate)
        {
            await OnLanguageChanged.InvokeAsync(selectedLanguage);
        }
        else if (Avatar != null)
        {
            Avatar.Language = selectedLanguage;
            await Aura.UpdateUserInfo(Avatar);
            await NotifyTovik();
        }
    }

    public async Task Spin()
    {
        IsSpinning = true;
        using var timer = new PeriodicTimer(TimeSpan.FromMilliseconds(100));
        var numSpins = 0;
        while (++numSpins < 10 && await timer.WaitForNextTickAsync())
        {
            var randomLanguage = Languages.OrderBy(x => Guid.NewGuid()).FirstOrDefault();
            if (randomLanguage != null)
            {
                SelectedLanguageId = randomLanguage.Id;
                StateHasChanged();
            }
        }

        await NotifyTovik();
    }

    async Task NotifyTovik()
        => await Js.InvokeVoidAsync("eval", "document.dispatchEvent(new CustomEvent('tovik-user-language-changed', { detail: '" + SelectedLanguageId + "' }));");
}