@page "/authentication/{action}"
<div class="sparc-authentication">
    <RemoteAuthenticatorView Action="@Action" />
</div>

@inject IAccessTokenProvider AccessTokenProvider
@code{
    [Parameter] public string Action { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        if (Action == "login-callback" && AccessTokenProvider is Sparc.Authentication.PasswordlessAccessTokenProvider p)
        {
            await p.SetAccessToken();
        }
    }
}