@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @(context.User.Identity?.Name ?? "user")!
        <button class="nav-link btn btn-link" @onclick="LogOut">
            Log out
        </button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void LogOut()
    {
        Navigation.NavigateToLogout("authentication/logout", "https://ibis.chat");
    }
}