@inject NavigationManager Navigation

<div class="sparc-redirecttologin">
</div>

@code {
    protected override void OnInitialized()
    {
        var options = new InteractiveRequestOptions()
            {
                Interaction = InteractionType.SignIn,
                ReturnUrl = Navigation.Uri
            };

        Navigation.NavigateToLogin($"authentication/login", options);
    }
}