@page "/_authorize"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using Sparc.Authentication;

<div class="sparc-authentication">
</div>

@inject IAccessTokenProvider AccessTokenProvider
@code {
    SparcAuthenticator? SparcProvider;

    protected override void OnInitialized()
    {
        SparcProvider = AccessTokenProvider as SparcAuthenticator;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (SparcProvider != null)
            await SparcProvider.Init();
    }
}