<figure>
    <figcaption>
        <a href="">Sparc.Blossom.Template</a>
    </figcaption>
</figure>

<input type="checkbox" title="Navigation menu" />

<nav onclick="document.querySelector('.navbar-toggler').click()">
    <ul>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </li>
    </ul>
</nav>

