div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 0;

    label {
        display: flex;
        flex-direction: row;
        gap: 8px;
        text-align: start;
        padding: 0px 24px;

        input {
            padding: 4px;
            border: none;

            &::placeholder {
                color: #5E6A85;
                font-size: 14px;
            }
        }

        input[type="search"] {
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
            }

            &::-ms-clear {
                display: none;
            }

            &::-moz-cancel-button {
                display: none;
            }
        }

        &.better-search-loading {
            .search-icon {
                animation: rotate 1.5s linear infinite;

                .material-icons {
                    color: var(--primary-500);
                }
            }
        }
    }

    hr {
        width: 100%;
        height: 1px;
        color: #DDE5F5;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
            display: flex;
            flex-direction: column;
            gap: 4px;
            list-style: none;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
