<div id="kori-abtesting" onclick="event.stopPropagation()">
    <select>
        <option>A version</option>
        <option>B version</option>
        <option>C version</option>        
    </select>
</div>