@page "/"
@using Sparc.Core.Chat
@using Sparc.Blossom.Authentication

<PageTitle>Home</PageTitle>

<div>
    <h3>Available Chat Rooms</h3>
    <ul>
        @if (rooms == null)
        {
            <li>Loading rooms...</li>
        }
        else if (!rooms.Any())
        {
            <li>No rooms available.</li>
        }
        else
        {
            @foreach (var room in rooms)
            {
                <li>
                    <button class="btn btn-link" @onclick="() => SelectRoom(room.RoomId)">
                        @(room.Name ?? room.RoomId)
                    </button>
                </li>
            }
        }
        <li><button @onclick=Create>Create New Room</button></li>
    </ul>
</div>

<div>
    @if (!string.IsNullOrEmpty(RoomId))
    {
        <ChatRoom RoomId="@RoomId"></ChatRoom>
    }
</div>

@inject NavigationManager Nav
@code {
    private string? RoomId { get; set; }
    private List<MatrixRoom> rooms = [];

    protected async override Task OnInitializedAsync()
    {
        var response = await Chats.GetRoomsAsync();
        rooms = response.Chunk;
        if (rooms.Any())
        {
            RoomId = rooms.First().RoomId;
        }
    }

    private void SelectRoom(string roomId)
    {
        RoomId = roomId;
        StateHasChanged();
    }

    async Task Create()
    {
        var room = await Chats.CreateRoomAsync(new(Visibility: "public"));
        Nav.Refresh(true);
    }
}