@page "/"
@using Sparc.Core.Chat
@using Sparc.Blossom.Authentication

<PageTitle>Home</PageTitle>

<div>
    <h3>Available Chat Rooms</h3>
    <ul>
        @if (rooms == null)
        {
            <li>Loading rooms...</li>
        }
        else if (!rooms.Any())
        {
            <li>No rooms available.</li>
        }
        else
        {
            @foreach (var room in rooms)
            {
                <li>
                    <button class="btn btn-link" @onclick="() => SelectRoom(room.Id)">
                        @room.RoomName
                    </button>
                </li>
            }
        }
    </ul>
</div>

<div>
    @if (!string.IsNullOrEmpty(RoomId))
    {
        <ChatRoom RoomId="@RoomId"></ChatRoom>
    }
</div>

@code {
    private string? RoomId { get; set; }
    private List<Room> rooms = [];

    protected async override Task OnInitializedAsync()
    {
        var room = new Room("Test Room");
        // var newRoom = await Chat.CreateRoomAsync(room);

        rooms = await Chats.GetRoomsAsync();
        if (rooms.Any())
        {
            RoomId = rooms.First().Id;
        }
    }

    private void SelectRoom(string roomId)
    {
        RoomId = roomId;
        StateHasChanged();
    }
}