.kori-login {
  width: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 2000;
}
.kori-login .kori-mobile {
  display: none;
}
.kori-login .kori-login__toggle {
  width: 24px;
  height: 24px;
  padding: 0 !important;
  background: #1a1a1a !important;
  border: none !important;
  border-radius: 50%;
  cursor: pointer;
}
.kori-login .kori-login__toggle.toggle-mobile {
  display: none;
}
.kori-login .kori-login__toggle .login-user-icon {
  width: 36px !important;
  height: auto !important;
}
.kori-login .kori-login__toggle.loggedout {
  border: 1px solid var(--grey-50);
  border-radius: 50%;
}
.kori-login .kori-login__toggle.loggedin {
  display: none;
  border: 1px solid var(--green-500, #34CE97);
  border-radius: 50%;
}
.kori-login .kori-login__toggle.loggedin.show {
  display: block;
}
.kori-login .kori-login__close {
  display: none;
  width: 24px;
  height: 24px;
  padding: 0 !important;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  position: fixed;
  top: 16px;
  left: 16px;
}
.kori-login__btn {
  padding: 8px 0 !important;
  background: none !important;
  border: none !important;
  font-family: "Encode Sans Expanded" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  text-align: left !important;
  color: white !important;
  cursor: pointer;
}
.kori-login__menu {
  display: none;
  width: 256px;
  height: fit-content;
  padding: 16px 16px 0px 16px;
  position: absolute;
  top: 40px;
  right: 12px;
  background: var(--grey-900);
  border: 1px solid var(--grey-700);
  border-radius: 4px;
  animation: kori-login__fadeIn 500ms ease-in-out;
  z-index: 1000;
}
.kori-login__menu.show {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.kori-login .kori-login__menu {
  z-index: 2000;
}
.kori-login .kori-login__menu header {
  text-align: left;
}
.kori-login .kori-login__account-btn, .kori-login .kori-login__profile-btn, .kori-login .kori-login__setup-btn, .kori-login .kori-login__logout-btn {
  display: flex;
  gap: 14px !important;
  align-items: center !important;
}
.kori-login .kori-login__account-btn img, .kori-login .kori-login__profile-btn img, .kori-login .kori-login__setup-btn img, .kori-login .kori-login__logout-btn img {
  margin: 0 !important;
}
.kori-login__menu-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.kori-login__menu-actions .kori-desktop {
  display: flex;
  flex-direction: column;
}
.kori-login__menu-actions .kori-login__menu-divider {
  width: 100%;
  margin: 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.kori-login__menu-actions button {
  padding: 8px 0 !important;
  border-radius: 4px !important;
}
.kori-login__menu-actions button img {
  width: 16px;
  height: 16px;
}
.kori-login__menu-actions .kori-login__login-btn, .kori-login__menu-actions kori-login__account-btn {
  display: flex !important;
  gap: 14px !important;
  align-items: center !important;
  padding: 6px 8px !important;
  background: var(--grey-800) !important;
  text-align: left !important;
  transition: 300ms ease-in-out;
}
.kori-login__menu-actions .kori-login__login-btn:hover, .kori-login__menu-actions kori-login__account-btn:hover {
  background: var(--grey-700) !important;
}
.kori-login__menu-actions .kori-login__login-btn:active, .kori-login__menu-actions kori-login__account-btn:active {
  background: var(--grey-800) !important;
}
.kori-login__menu-actions .kori-login__login-btn__content, .kori-login__menu-actions kori-login__account-btn__content {
  text-align: left !important;
}
.kori-login__menu-actions .kori-login__use-passkey {
  width: 100%;
}
.kori-login__menu-actions .kori-login__use-passkey button {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 12px;
}
.kori-login__menu-actions .kori-login__use-passkey button img {
  margin: 0 !important;
}
.kori-login__menu-actions .kori-login__message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.kori-login__menu-actions .kori-login__message-wrapper .kori-login__different-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.kori-login__menu-actions .kori-login__message-wrapper .kori-login__different-email button.resend-link {
  width: 100% !important;
  padding: 8px 12px !important;
  background: var(--grey-800) !important;
  font-family: "Encode Sans Expanded";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  transition: 300ms ease-in-out;
}
.kori-login__menu-actions .kori-login__message-wrapper .kori-login__different-email button.resend-link:hover {
  background: var(--grey-700) !important;
}
.kori-login__menu-actions .kori-login__message-wrapper .kori-login__different-email button.resend-link:active {
  background: var(--grey-800) !important;
}
.kori-login__menu-actions .kori-login__message-wrapper .kori-login__different-email button.different-email {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 12px;
}
.kori-login__menu-actions .kori-login__message-wrapper .kori-login__different-email button.different-email img {
  margin: auto 0 !important;
}
.kori-login__form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.kori-login__form .kori-login__input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100% !important;
  height: fit-content !important;
  padding: 8px 12px !important;
  background: var(--grey-800) !important;
  border-radius: 4px !important;
  border: none !important;
  color: var(--grey-50);
  font-family: "Encode Sans Expanded";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.kori-login__form .kori-login__input:focus {
  border: var(--grey-50) !important;
  backdrop-filter: brightness(120%) !important;
}
.kori-login__form .kori-login__input:disabled {
  background: var(--grey-700) !important;
  border: 1px solid var(--green-500, #34CE97) !important;
}
.kori-login__form .kori-login__submit-btn {
  width: 100% !important;
  padding: 8px 12px !important;
  background: var(--grey-800) !important;
  font-family: "Encode Sans Expanded";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  transition: 300ms ease-in-out;
}
.kori-login__form .kori-login__submit-btn:hover {
  background: var(--grey-700) !important;
}
.kori-login__form .kori-login__submit-btn:active {
  background: var(--grey-800) !important;
}
.kori-login__form .kori-login__form-error {
  display: none;
}
.kori-login__form .kori-login__form-error span {
  margin-top: 8px;
  color: white;
  opacity: 0.7;
}
.kori-login__form .kori-login__form-error.show {
  display: block;
}
.kori-login .kori-login__message.awaiting-link {
  color: var(--green-500, #34CE97) !important;
}
.kori-login__language {
  padding-bottom: 8px;
}
.kori-login__overlay.show {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}
@media only screen and (max-width: 1024px) {
  .kori-login {
    position: fixed;
    padding: 0;
    z-index: 2000;
    overflow: hidden;
  }
  .kori-login .kori-login__menu {
    overflow: hidden;
  }
  .kori-login .kori-login__menu header {
    text-align: center;
  }
  .kori-login .kori-login__toggle {
    position: fixed;
    top: 16px;
    right: 66px;
    z-index: 1002;
  }
  .kori-login .kori-login__toggle.toggle-desktop {
    display: none;
  }
  .kori-login .kori-login__toggle.toggle-mobile {
    display: block;
  }
  .kori-login .kori-login__close {
    z-index: 2001;
  }
  .kori-login .kori-login__close.show {
    display: block;
  }
  .kori-login .kori-login__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 16px;
    background: var(--grey-900, #0E0E0E);
    border: 1px solid var(--grey-900, #0E0E0E);
    border-radius: 0;
    display: none;
    z-index: 1002;
  }
  .kori-login .kori-login__menu.show {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .kori-login .kori-desktop {
    display: none;
  }
  .kori-login .kori-mobile {
    display: block;
  }
  .kori-login .kori-mobile #kori-login__tabs {
    --indicator-offset: 0px;
    --indicator-width: 50%;
    position: relative;
    margin: 0 -16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--gray-800, #1E1E1E);
    color: #FFF;
    /*.active {
        border-bottom: 2px solid #FFF;
    }*/
  }
  .kori-login .kori-mobile #kori-login__tabs .kori-login__tab {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition: 300ms;
  }
  .kori-login .kori-mobile #kori-login__tabs::after {
    position: absolute;
    content: "";
    height: 2px;
    width: var(--indicator-width);
    left: var(--indicator-offset);
    bottom: -2px;
    background: #FFF;
    transition: left 300ms, width 300ms;
  }
  .kori-login .kori-mobile .kori-login__menu-mobile, .kori-login .kori-mobile .kori-login__language {
    padding: 64px;
    display: none;
    animation: kori-login__fadeIn 300ms ease-in-out;
  }
  .kori-login .kori-mobile .kori-login__menu-mobile.show, .kori-login .kori-mobile .kori-login__language.show {
    display: block !important;
  }
  .kori-login header {
    margin-top: 56px;
  }
  .kori-login .kori-login__form,
  .kori-login .kori-login__menu-actions,
  .kori-login .kori-login__btn {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
  }
  .kori-login .kori-login__login-btn, .kori-login .kori-login__input, .kori-login .kori-login__submit-btn, .kori-login .kori-login__message-wrapper .kori-login__different-email button.resend-link {
    width: 100%;
    padding: 16px !important;
  }
  .kori-login .kori-login__text-primary, .kori-login .kori-login__menu header h3, .kori-login .kori-login__menu-actions .kori-login__login-btn__content figcaption, .kori-login__menu-actions .kori-login__login-btn__content .kori-login figcaption, .kori-login .kori-login__menu-actions kori-login__account-btn__content figcaption, .kori-login__menu-actions kori-login__account-btn__content .kori-login figcaption,
  .kori-login .kori-login__text-secondary,
  .kori-login .kori-login__menu header p,
  .kori-login .kori-login__menu-actions .kori-login__login-btn__content aside,
  .kori-login__menu-actions .kori-login__login-btn__content .kori-login aside,
  .kori-login .kori-login__menu-actions kori-login__account-btn__content aside,
  .kori-login__menu-actions kori-login__account-btn__content .kori-login aside,
  .kori-login .kori-login__text-btn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 839px) {
  .kori-login .kori-mobile #kori-login__tabs {
    margin-bottom: 16px;
  }
  .kori-login .kori-mobile .kori-login__menu-mobile, .kori-login .kori-mobile .kori-login__language {
    padding: 44px;
  }
}
@media only screen and (max-width: 550px) {
  .kori-login .kori-mobile .kori-login__menu-mobile, .kori-login .kori-mobile .kori-login__language {
    padding: 8px;
  }
}
@keyframes kori-login__fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.kori-login .kori-login__text-primary, .kori-login .kori-login__menu header h3, .kori-login .kori-login__menu-actions .kori-login__login-btn__content figcaption, .kori-login__menu-actions .kori-login__login-btn__content .kori-login figcaption, .kori-login .kori-login__menu-actions kori-login__account-btn__content figcaption, .kori-login__menu-actions kori-login__account-btn__content .kori-login figcaption {
  font-family: "Encode Sans Semi Expanded" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 160% !important;
  color: var(--grey-50) !important;
}
.kori-login .kori-login__text-secondary, .kori-login .kori-login__menu header p, .kori-login .kori-login__menu-actions .kori-login__login-btn__content aside, .kori-login__menu-actions .kori-login__login-btn__content .kori-login aside, .kori-login .kori-login__menu-actions kori-login__account-btn__content aside, .kori-login__menu-actions kori-login__account-btn__content .kori-login aside {
  font-family: "Encode Sans Expanded" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  color: var(--grey-300) !important;
}
.kori-login .kori-login__text-btn {
  font-family: "Encode Sans Expanded" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  color: white !important;
  cursor: pointer !important;
  transition: 300ms ease-in-out !important;
  opacity: 0.7 !important;
}
.kori-login .kori-login__text-btn:hover {
  opacity: 1 !important;
}
.kori-login .kori-login__text-btn:active {
  opacity: 0.7 !important;
}
.kori-login ::deep button {
  font-style: normal;
}

@media only screen and (max-width: 1024px) {
  #kori-login__overlay {
    display: none !important;
  }
  #kori-login__overlay.show {
    display: none !important;
  }
}
