@page "/"
@using Sparc.Blossom.Example.Single.TodoItem.Client
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (items != null)
{
    @foreach (var todo in items.Where(x => !x.IsDone))
    {
        <div>
            <span>@todo.Title</span>
            <button @onclick="() => ToggleTodoItem(todo)">Toggle</button>
        </div>
    }
}

@if (closedItems != null)
{
    @foreach (var todo in closedItems)
    {
        <p>Closed Items</p>
        <div>
            <span>@todo.Title</span>
        </div>
    }
}


<button @onclick="AddTodoItem">Add Todo Item</button>

@inject TodoItemApi TodoItems
@code
{
    IEnumerable<TodoItem>? items;
    IEnumerable<TodoItem>? closedItems;

    protected override async Task OnInitializedAsync()
    {
        items = await TodoItems.Open();
        closedItems = await TodoItems.Closed();
    }

    async Task AddTodoItem()
    {
        //await TodoItems.New("New Todo Item", "New Todo Item Description");
        items = await TodoItems.Open();
    }

    async Task ToggleTodoItem(TodoItem todoItem)
    {
        await todoItem.MarkDone();
    }
}