
.kori-login {
    width: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 16px;
    z-index: 2000;

    .kori-mobile {
        display: none;
    }

    .kori-login__toggle {
        width: 24px;
        height: 24px;
        padding: 0 !important;
        background: #1a1a1a !important;
        border: none !important;
        border-radius: 50%;
        cursor: pointer;

        &.toggle-mobile {
            display: none;
        }

        .login-user-icon {
            width: 36px !important;
            height: auto !important;
        }

        &.loggedout {
            border: 1px solid var(--grey-50);
            border-radius: 50%;
        }

        &.loggedin {
            display: none;
            border: 1px solid var(--green-500, #34CE97);
            border-radius: 50%;

            &.show {
                display: block;
            }
        }
    }

    .kori-login__close {
        display: none;
        width: 24px;
        height: 24px;
        padding: 0 !important;
        background: none;
        border: none;
        border-radius: 0;
        cursor: pointer;
        position: fixed;
        top: 16px;
        left: 16px;
    }

    &__btn {
        padding: 8px 0 !important;
        background: none !important;
        border: none !important;
        font-family: 'Encode Sans Expanded' !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 140% !important;
        text-align: left !important;
        color: white !important;
        cursor: pointer;
    }

    &__menu {
        display: none;
        width: 256px;
        height: fit-content;
        padding: 16px 16px 0px 16px;
        position: absolute;
        top: 40px;
        right: 12px;
        background: var(--grey-900);
        border: 1px solid var(--grey-700);
        border-radius: 4px;
        animation: kori-login__fadeIn 500ms ease-in-out;
        z-index: 1000;

        &.show {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .kori-login__menu {
        z-index: 2000;

        header {
            text-align: left;

            h3 {
                @extend .kori-login__text-primary;
            }

            p {
                @extend .kori-login__text-secondary;
            }
        }
    }

    .kori-login__account-btn, .kori-login__profile-btn, .kori-login__setup-btn, .kori-login__logout-btn {
        display: flex;
        gap: 14px !important;
        align-items: center !important;

        img {
            margin: 0 !important;
        }
    }

    &__menu-actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .kori-desktop {
            display: flex;
            flex-direction: column;
        }

        .kori-login__menu-divider {
            width: 100%;
            margin: 16px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.80);
        }

        button {
            padding: 8px 0 !important;
            border-radius: 4px !important;

            img {
                width: 16px;
                height: 16px;
            }
        }

        .kori-login__login-btn, kori-login__account-btn {
            display: flex !important;
            gap: 14px !important;
            align-items: center !important;
            padding: 6px 8px !important;
            background: var(--grey-800) !important;
            text-align: left !important;
            transition: 300ms ease-in-out;

            &:hover {
                background: var(--grey-700) !important;
            }

            &:active {
                background: var(--grey-800) !important;
            }

            &__content {
                text-align: left !important;

                figcaption {
                    @extend .kori-login__text-primary;
                }

                aside {
                    @extend .kori-login__text-secondary;
                }
            }
        }

        .kori-login__use-passkey {
            width: 100%;

            button {
                display: flex;
                align-content: center;
                align-items: center;
                gap: 12px;

                img {
                    margin: 0 !important;
                }
            }
        }

        .kori-login__message-wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .kori-login__different-email {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                button {
                    &.resend-link {
                        width: 100% !important;
                        padding: 8px 12px !important;
                        background: var(--grey-800) !important;
                        font-family: 'Encode Sans Expanded';
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 160%;
                        transition: 300ms ease-in-out;

                        &:hover {
                            background: var(--grey-700) !important;
                        }

                        &:active {
                            background: var(--grey-800) !important;
                        }
                    }

                    &.different-email {
                        width: fit-content;
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        gap: 12px;

                        img {
                            margin: auto 0 !important;
                        }
                    }
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .kori-login__input {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100% !important;
            height: fit-content !important;
            padding: 8px 12px !important;
            background: var(--grey-800) !important;
            border-radius: 4px !important;
            border: none !important;
            color: var(--grey-50);
            font-family: 'Encode Sans Expanded';
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;

            &:focus {
                border: var(--grey-50) !important;
                backdrop-filter: brightness(120%) !important;
            }

            &:disabled {
                background: var(--grey-700) !important;
                border: 1px solid var(--green-500, #34CE97) !important;
            }
        }

        .kori-login__submit-btn {
            width: 100% !important;
            padding: 8px 12px !important;
            background: var(--grey-800) !important;
            font-family: 'Encode Sans Expanded';
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            transition: 300ms ease-in-out;

            &:hover {
                background: var(--grey-700) !important;
            }

            &:active {
                background: var(--grey-800) !important;
            }
        }

        .kori-login__form-error {
            display: none;

            span {
                margin-top: 8px;
                color: white;
                opacity: 0.7;
            }

            &.show {
                display: block;
            }
        }
    }

    .kori-login__message {
        &.awaiting-link {
            color: var(--green-500, #34CE97) !important;
        }
    }

    &__language {
        padding-bottom: 8px;
    }

    &__overlay {
        &.show {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 100;
        }
    }

    @media only screen and (max-width: 1024px) {
        position: fixed;
        padding: 0;
        z-index: 2000;
        overflow: hidden;

        .kori-login__menu {
            overflow: hidden;

            header {
                text-align: center;
            }
        }

        .kori-login__toggle {
            position: fixed;
            top: 16px;
            right: calc(16px + 50px);
            z-index: 1002;

            &.toggle-desktop {
                display: none;
            }

            &.toggle-mobile {
                display: block;
            }
        }

        .kori-login__close {
            z-index: 2001;

            &.show {
                display: block;
            }
        }

        .kori-login__menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            padding: 16px;
            background: var(--grey-900, #0E0E0E);
            border: 1px solid var(--grey-900, #0E0E0E);
            border-radius: 0;
            display: none;
            z-index: 1002;

            &.show {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }

        .kori-desktop {
            display: none;
        }

        .kori-mobile {
            display: block;

            #kori-login__tabs {
                --indicator-offset: 0px;
                --indicator-width: 50%;
                position: relative;
                margin: 0 -16px;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-around;
                border-bottom: 2px solid var(--gray-800, #1E1E1E);
                color: #FFF;

                .kori-login__tab {
                    width: 100%;
                    padding-bottom: 10px;
                    text-align: center;
                    cursor: pointer;
                    transition: 300ms;
                }
                /*.active {
                    border-bottom: 2px solid #FFF;
                }*/

                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: var(--indicator-width);
                    left: var(--indicator-offset);
                    bottom: -2px;
                    background: #FFF;
                    transition: left 300ms, width 300ms;
                }
            }

            .kori-login__menu-mobile, .kori-login__language {
                padding: 64px;
                display: none;
                animation: kori-login__fadeIn 300ms ease-in-out;

                &.show {
                    display: block !important;
                }
            }
        }

        header {
            margin-top: 56px;
        }

        .kori-login__form,
        .kori-login__menu-actions,
        .kori-login__btn {
            width: 100%;
            padding: 8px 0;
            font-size: 16px;
        }

        .kori-login__login-btn, .kori-login__input, .kori-login__submit-btn, .kori-login__message-wrapper .kori-login__different-email button.resend-link {
            width: 100%;
            padding: 16px !important;
        }

        .kori-login__text-primary,
        .kori-login__text-secondary,
        .kori-login__text-btn {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 839px) {
        .kori-mobile {
            #kori-login__tabs {
                margin-bottom: 16px;
            }

            .kori-login__menu-mobile, .kori-login__language {
                padding: 44px;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        .kori-mobile {
            .kori-login__menu-mobile, .kori-login__language {
                padding: 8px;
            }
        }
    }

    @keyframes kori-login__fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .kori-login__text-primary {
        font-family: 'Encode Sans Semi Expanded' !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 160% !important;
        color: var(--grey-50) !important;
    }

    .kori-login__text-secondary {
        font-family: 'Encode Sans Expanded' !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 140% !important;
        color: var(--grey-300) !important;
    }

    .kori-login__text-btn {
        font-family: 'Encode Sans Expanded' !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 140% !important;
        color: white !important;
        cursor: pointer !important;
        transition: 300ms ease-in-out !important;
        opacity: 0.7 !important;

        &:hover {
            opacity: 1 !important;
        }

        &:active {
            opacity: 0.7 !important;
        }
    }

    ::deep button {
        font-style: normal;
    }
}

@media only screen and (max-width: 1024px) {
    #kori-login__overlay {
        display: none !important;

        &.show {
            display: none !important;
        }
    }
}