@namespace Sparc.Blossom.Realtime

<div class="shapes">
    <svg id="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="squarePath" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
    </svg>

    <svg id="triangle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="trianglePath" d="M79.8686 115.277C74.1492 125.422 59.8506 125.422 54.1311 115.277L2.01285 22.8271C-3.70659 12.6817 3.4427 -6.24527e-06 14.8816 -5.23088e-06L119.118 4.01277e-06C130.557 5.02717e-06 137.706 12.6818 131.987 22.8272L79.8686 115.277Z" fill="#4D4ADF" />
    </svg>

    <svg id="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="circlePath" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
    </svg>

    <svg id="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="diamondPath" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
    </svg>

    <svg id="triangle-up" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="triangelUpPath" d="M34.0105 5.26968C37.5958 -1.16995 46.5591 -1.16995 50.1444 5.26968L82.8155 63.9508C86.4009 70.3904 81.9192 78.44 74.7486 78.44L9.40621 78.4399C2.23558 78.4399 -2.24606 70.3904 1.33925 63.9508L34.0105 5.26968Z" fill="#4D4ADF" />
    </svg>

    <div class="stack-1" id="stack-1">
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="stack-1-0" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-1" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-1-2" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-3" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-1-4" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-5" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-1-6" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-7" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-1-8" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="stack-1-9" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
    </div>

    <div class="stack-2" id="stack-2">
        <svg class="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-2-0" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
        </svg>
        <svg class="triangle triangle-up" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-1" d="M34.0105 5.26968C37.5958 -1.16995 46.5591 -1.16995 50.1444 5.26968L82.8155 63.9508C86.4009 70.3904 81.9192 78.44 74.7486 78.44L9.40621 78.4399C2.23558 78.4399 -2.24606 70.3904 1.33925 63.9508L34.0105 5.26968Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-2-2" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="triangle triangle-up" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-3" d="M34.0105 5.26968C37.5958 -1.16995 46.5591 -1.16995 50.1444 5.26968L82.8155 63.9508C86.4009 70.3904 81.9192 78.44 74.7486 78.44L9.40621 78.4399C2.23558 78.4399 -2.24606 70.3904 1.33925 63.9508L34.0105 5.26968Z" fill="#4D4ADF" />
        </svg>
        <svg class="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-2-4" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
        </svg>
        <svg class="triangle triangle-up" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-5" d="M34.0105 5.26968C37.5958 -1.16995 46.5591 -1.16995 50.1444 5.26968L82.8155 63.9508C86.4009 70.3904 81.9192 78.44 74.7486 78.44L9.40621 78.4399C2.23558 78.4399 -2.24606 70.3904 1.33925 63.9508L34.0105 5.26968Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-2-6" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="triangle triangle-up" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-7" d="M34.0105 5.26968C37.5958 -1.16995 46.5591 -1.16995 50.1444 5.26968L82.8155 63.9508C86.4009 70.3904 81.9192 78.44 74.7486 78.44L9.40621 78.4399C2.23558 78.4399 -2.24606 70.3904 1.33925 63.9508L34.0105 5.26968Z" fill="#4D4ADF" />
        </svg>
        <svg class="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-2-8" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
        </svg>
        <svg class="triangle triangle-up" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-9" d="M34.0105 5.26968C37.5958 -1.16995 46.5591 -1.16995 50.1444 5.26968L82.8155 63.9508C86.4009 70.3904 81.9192 78.44 74.7486 78.44L9.40621 78.4399C2.23558 78.4399 -2.24606 70.3904 1.33925 63.9508L34.0105 5.26968Z" fill="#4D4ADF" />
        </svg>
    </div>

    <div class="stack-3" id="stack-3">
        <svg class="triangle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-0" d="M79.8686 115.277C74.1492 125.422 59.8506 125.422 54.1311 115.277L2.01285 22.8271C-3.70659 12.6817 3.4427 -6.24527e-06 14.8816 -5.23088e-06L119.118 4.01277e-06C130.557 5.02717e-06 137.706 12.6818 131.987 22.8272L79.8686 115.277Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-1" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="triangle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-2" d="M79.8686 115.277C74.1492 125.422 59.8506 125.422 54.1311 115.277L2.01285 22.8271C-3.70659 12.6817 3.4427 -6.24527e-06 14.8816 -5.23088e-06L119.118 4.01277e-06C130.557 5.02717e-06 137.706 12.6818 131.987 22.8272L79.8686 115.277Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-3" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="triangle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-4" d="M79.8686 115.277C74.1492 125.422 59.8506 125.422 54.1311 115.277L2.01285 22.8271C-3.70659 12.6817 3.4427 -6.24527e-06 14.8816 -5.23088e-06L119.118 4.01277e-06C130.557 5.02717e-06 137.706 12.6818 131.987 22.8272L79.8686 115.277Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-5" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="triangle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-6" d="M79.8686 115.277C74.1492 125.422 59.8506 125.422 54.1311 115.277L2.01285 22.8271C-3.70659 12.6817 3.4427 -6.24527e-06 14.8816 -5.23088e-06L119.118 4.01277e-06C130.557 5.02717e-06 137.706 12.6818 131.987 22.8272L79.8686 115.277Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-7" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="triangle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-8" d="M79.8686 115.277C74.1492 125.422 59.8506 125.422 54.1311 115.277L2.01285 22.8271C-3.70659 12.6817 3.4427 -6.24527e-06 14.8816 -5.23088e-06L119.118 4.01277e-06C130.557 5.02717e-06 137.706 12.6818 131.987 22.8272L79.8686 115.277Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-9" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
    </div>

    <div class="stack-4" id="stack-4">
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-4-0" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class ="diamond" id="stack-4-1" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-4-2" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond"  id="stack-4-3" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-4-4" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class ="diamond" id="stack-4-5" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-4-6" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-4-7" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-4-8" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
        </svg>
        <svg class="diamond" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-4-9" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
        </svg>
    </div>
</div>

<div class="game-example" id="game-container">
</div>

<style>
    body {
        background: #272727;
    }

    .shapes {
        display: none;
    }

    #game-container {
        width: 1056px;
        height: 430px;
        border: 1px solid white;
        border-radius: 40px;
    }

    #game-container:hover {
        cursor: pointer;
    }
</style>

@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createGame");

        }
    }
}