@namespace Sparc.Blossom.Realtime

<div class="shapes">
    <svg id="square" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="squarePath" transform="rotate(-90 0 134)" fill="#F05A67" d="M23 134h88s23 0 23 23v88s0 23 -23 23h-88s-23 0 -23 -23v-88s0 -23 23 -23" />
    </svg>

    <svg id="triangle" width="134" height="123" viewBox="0 0 134 123" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="trianglePath" d="M79.8686 115.277C74.1492 125.422 59.8506 125.422 54.1311 115.277L2.01285 22.8271C-3.70659 12.6817 3.4427 -6.24527e-06 14.8816 -5.23088e-06L119.118 4.01277e-06C130.557 5.02717e-06 137.706 12.6818 131.987 22.8272L79.8686 115.277Z" fill="#4D4ADF" />
    </svg>

    <svg id="circle" width="135" height="134" viewBox="0 0 135 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="circlePath" transform="rotate(-90 0 134)" fill="#E2A30D" d="M67 134h0s67 0 67 67v0.001s0 67 -67 67h0s-67 0 -67 -67v-0.001s0 -67 67 -67" />
    </svg>

    <svg id="diamond" width="135" height="135" viewBox="0 0 135 135" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="diamondPath" d="M5.47779 80.595C-1.82593 73.2576 -1.82593 61.3614 5.47779 54.024L53.7762 5.50303C61.0799 -1.83434 72.9216 -1.83435 80.2253 5.50303L128.524 54.024C135.827 61.3614 135.827 73.2576 128.524 80.595L80.2253 129.116C72.9216 136.453 61.0799 136.453 53.7762 129.116L5.47779 80.595Z" fill="#3BD7FF" />
    </svg>
</div>

<div class="game-example" id="game-container">
</div>

<style>
    body {
        background: #272727;
    }

    .shapes {
        display: none;
    }

    #game-container {
        width: 1056px;
        height: 430px;
        border: 1px solid white;
        border-radius: 40px;
    }

    #game-container:hover {
        cursor: pointer;
    }
</style>

@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createGame");

        }
    }
}