@namespace Sparc.Blossom.Realtime
circle" width="86" height="86" viewBox="0 0 86 86"
<div class="shapes">
    <svg id="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="square" id="squarePath" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
    </svg>

    <svg id="triangle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="triangle" id="trianglePath" d="M50.7404 73.6102C47.1124 80.0498 38.0424 80.0498 34.4144 73.6102L1.35426 14.9291C-2.27374 8.48947 2.26126 0.43993 9.51726 0.439931L75.6375 0.439943C82.8935 0.439944 87.4285 8.48948 83.8005 14.9291L50.7404 73.6102Z" fill="#4D4ADF"/>
    </svg>

    <svg id="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="circle" id="circlePath" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
    </svg>

    <svg id="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="diamond" id="diamondPath" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
    </svg>

    <svg id="triangle-up" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="triangelUpPath" d="M34.4144 5.26969C38.0424 -1.16994 47.1124 -1.16993 50.7404 5.26969L83.8005 63.9508C87.4285 70.3904 82.8935 78.44 75.6375 78.44L9.51727 78.4399C2.26128 78.4399 -2.27372 70.3904 1.35428 63.9508L34.4144 5.26969Z" fill="#4D4ADF" />
    </svg>

    <div class="stack-1" id="stack-1">
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-1-0" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-1" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-1-2" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-3" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-1-4" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-5" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-1-6" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-7" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-1-8" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-1-9" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
    </div>

    <div class="stack-2" id="stack-2">
        <svg class="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-2-0" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
        </svg>
        <svg class="triangle triangle-up" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-1" d="M34.4144 5.26969C38.0424 -1.16994 47.1124 -1.16993 50.7404 5.26969L83.8005 63.9508C87.4285 70.3904 82.8935 78.44 75.6375 78.44L9.51727 78.4399C2.26128 78.4399 -2.27372 70.3904 1.35428 63.9508L34.4144 5.26969Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-2-2" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="triangle triangle-up" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-3" d="M34.4144 5.26969C38.0424 -1.16994 47.1124 -1.16993 50.7404 5.26969L83.8005 63.9508C87.4285 70.3904 82.8935 78.44 75.6375 78.44L9.51727 78.4399C2.26128 78.4399 -2.27372 70.3904 1.35428 63.9508L34.4144 5.26969Z" fill="#4D4ADF" />
        </svg>
        <svg class="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-2-4" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
        </svg>
        <svg class="triangle triangle-up" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-5" d="M34.4144 5.26969C38.0424 -1.16994 47.1124 -1.16993 50.7404 5.26969L83.8005 63.9508C87.4285 70.3904 82.8935 78.44 75.6375 78.44L9.51727 78.4399C2.26128 78.4399 -2.27372 70.3904 1.35428 63.9508L34.4144 5.26969Z" fill="#4D4ADF" />
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-2-6" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="triangle triangle-up" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-7" d="M34.4144 5.26969C38.0424 -1.16994 47.1124 -1.16993 50.7404 5.26969L83.8005 63.9508C87.4285 70.3904 82.8935 78.44 75.6375 78.44L9.51727 78.4399C2.26128 78.4399 -2.27372 70.3904 1.35428 63.9508L34.4144 5.26969Z" fill="#4D4ADF" />
        </svg>
        <svg class="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-2-8" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
        </svg>
        <svg class="triangle triangle-up" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-2-9" d="M34.4144 5.26969C38.0424 -1.16994 47.1124 -1.16993 50.7404 5.26969L83.8005 63.9508C87.4285 70.3904 82.8935 78.44 75.6375 78.44L9.51727 78.4399C2.26128 78.4399 -2.27372 70.3904 1.35428 63.9508L34.4144 5.26969Z" fill="#4D4ADF" />
        </svg>
    </div>

    <div class="stack-3" id="stack-3">
        <svg class="triangle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-0" d="M50.7404 73.6102C47.1124 80.0498 38.0424 80.0498 34.4144 73.6102L1.35426 14.9291C-2.27374 8.48947 2.26126 0.43993 9.51726 0.439931L75.6375 0.439943C82.8935 0.439944 87.4285 8.48948 83.8005 14.9291L50.7404 73.6102Z" fill="#4D4ADF"/>
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-1" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="triangle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-2" d="M50.7404 73.6102C47.1124 80.0498 38.0424 80.0498 34.4144 73.6102L1.35426 14.9291C-2.27374 8.48947 2.26126 0.43993 9.51726 0.439931L75.6375 0.439943C82.8935 0.439944 87.4285 8.48948 83.8005 14.9291L50.7404 73.6102Z" fill="#4D4ADF"/>
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-3" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="triangle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-4" d="M50.7404 73.6102C47.1124 80.0498 38.0424 80.0498 34.4144 73.6102L1.35426 14.9291C-2.27374 8.48947 2.26126 0.43993 9.51726 0.439931L75.6375 0.439943C82.8935 0.439944 87.4285 8.48948 83.8005 14.9291L50.7404 73.6102Z" fill="#4D4ADF"/>
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-5" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="triangle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-6" d="M50.7404 73.6102C47.1124 80.0498 38.0424 80.0498 34.4144 73.6102L1.35426 14.9291C-2.27374 8.48947 2.26126 0.43993 9.51726 0.439931L75.6375 0.439943C82.8935 0.439944 87.4285 8.48948 83.8005 14.9291L50.7404 73.6102Z" fill="#4D4ADF"/>
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-7" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="triangle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="triangle" id="stack-3-8" d="M50.7404 73.6102C47.1124 80.0498 38.0424 80.0498 34.4144 73.6102L1.35426 14.9291C-2.27374 8.48947 2.26126 0.43993 9.51726 0.439931L75.6375 0.439943C82.8935 0.439944 87.4285 8.48948 83.8005 14.9291L50.7404 73.6102Z" fill="#4D4ADF"/>
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-3-9" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
    </div>

    <div class="stack-4" id="stack-4">
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-4-0" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class ="diamond" id="stack-4-1" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-4-2" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond"  id="stack-4-3" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-4-4" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class ="diamond" id="stack-4-5" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="square" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="square" id="stack-4-6" fill="#F05A67" d="M23.0774 85.4399h39s23 0 23 23v39s0 23 -23 23h-39s-23 0 -23 -23v-39s0 -23 23 -23"/>
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-4-7" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
        <svg class="circle" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="circle" id="stack-4-8" fill="#E2A30D" d="M42.0774 84.4399h0s42 0 42 42v1s0 42 -42 42h0s-42 0 -42 -42v-1s0 -42 42 -42" />
        </svg>
        <svg class="diamond" width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="diamond" id="stack-4-9" d="M3.51119 51.3286C-1.06721 46.6957 -1.06721 39.1842 3.51119 34.5513L33.7875 3.91462C38.3659 -0.718285 45.7889 -0.718286 50.3673 3.91462L80.6436 34.5513C85.222 39.1842 85.222 46.6957 80.6436 51.3286L50.3673 81.9653C45.7889 86.5982 38.3659 86.5982 33.7875 81.9653L3.51119 51.3286Z" fill="#3BD7FF" />
        </svg>
    </div>
</div>

<div class="game-example" id="game-container">
</div>

<style>
    body {
        background: #272727;
        height: 200vh;
    }

    .shapes {
        display: none;
    }

    #game-container {
        width: 1056px;
        height: 430px;
        border: 1px solid white;
        border-radius: 40px;
    }

    #game-container:hover {
        cursor: pointer;
    }
</style>

@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createGame");

        }
    }
}