<div id="kori-language" onclick="event.stopPropagation()">
    <div class="first-language">
        <select>
            <option>English</option>
            <option>Spanish</option>
            <option>Italian</option>
            <option>Mandarin</option>
            <option>Japanese</option>
            <option>Thai</option>
        </select>
    </div>
    <div class="swap-translation">
        <button class="icon-btn"><SwapIcon /></button>
    </div>
    <div class="second-language">
        <select>
            <option>English</option>
            <option>Spanish</option>
            <option>Italian</option>
            <option>Mandarin</option>
            <option>Japanese</option>
            <option>Thai</option>
        </select>
    </div>
    <div class="volume">
        <button class="icon-btn"><VolumeIcon /></button>
    </div>
</div>
