#kori-default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: default;
    height: 19px;

    p {
        font-family: 'ArticulatCF';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;

        &:first-of-type {
            color: #73809E;
        }

        &:nth-of-type(2) {
            color: #485269;
        }
    }

    hr {
        width: 1px;
        background: #485269;
    }

    .kori-btn__primary {
        display: flex;
        width: 118px;
        height: 32px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid var(--Blue-500, #4162DC);
        background: var(--Blue-400, #5377FC);
        color: var(--White, #FFF);
        font-family: 'ArticulatCF';
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        font-style: normal;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-radius: 8px;
            border: 1px solid var(--Blue-500, #4162DC);
            background: var(--Blue-300, #708DF6);
        }

        &:active {
            border-radius: 8px;
            border: 1px solid var(--Blue-500, #4162DC);
            background: var(--Blue-500, #4162DC);
        }

        &:disabled, &[disabled] {
            border: 1px solid var(--Blue-500, #4162DC);
            background: var(--Blue-400, #5377FC);
            opacity: 0.5;
        }
    }

    .kori-btn__secondary {
        display: flex;
        width: 118px;
        height: 32px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid var(--Gray-800, #363E51);
        background: var(--White, #FFF);
        color: var(--Gray-800, #363E51);
        font-family: 'ArticulatCF';
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        font-style: normal;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--Gray-800, #363E51);
            background: var(--Gray-50, #EEF2FA);
        }

        &:active {
            border: 1px solid var(--Gray-800, #363E51);
            background: var(--Gray-100, #DDE5F5);
        }

        &:disabled, &[disabled] {
            border: 1px solid var(--Gray-800, #363E51);
            background: var(--White, #FFF);
            opacity: 0.5;
        }
    }

    .kori-btn__tertiary {
        display: flex;
        width: 118px;
        height: 32px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        border: 0px solid var(--Blue-50, #F1F3FE);
        background: var(--White, #FFF);
        color: var(--Gray-800, #363E51);
        font-family: 'ArticulatCF';
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        font-style: normal;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 0px solid var(--Blue-100, #B7C6FF);
            background: var(--Gray-50, #EEF2FA);
        }

        &:active {
            border: 0px solid var(--Blue-100, #B7C6FF);
            background: var(--Gray-100, #DDE5F5);
        }

        &:disabled, &[disabled] {
            border: 1px solid var(--Blue-50, #F1F3FE);
            background: var(--White, #FFF);
            opacity: 0.5;
        }
    }
}
