.top-bar-button {
    height: 32px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease-in-out;
    position: relative;

    .icon {
        width: 16px;
        height: 16px;
        margin: 0;
        margin-top: -3px;
    }

    .icon.right {
        margin-top: 0 !important;
    }

    .btn-text {
        font-family: 'ArticulatCF';
        font-weight: 500;
        color: #485269;
        font-size: 14px;
        font-style: normal;
        -webkit-text-stroke: inherit;
    }

    &:hover:not(.toggle-button) {
        background: #EEF2FA;
        padding: 8px;

        .btn-text {
            color: #5377FC;
        }

        .icon path, .icon circle {
            stroke: #4162DC !important;
        }
    }

    &:focus:not(.toggle-button) {
        outline: none;
    }

    &.selected:not(.toggle-button) {
        background: #EEF2FA;
        transition: background 0.3s ease;
        padding: 8px;

        .btn-text {
            color: #4162DC;
        }

        .icon path, .icon circle {
            stroke: #4162DC !important;
        }
    }
}
