.top-bar-button {
  height: 32px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease-in-out;
  position: relative;
}
.top-bar-button .icon {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-top: -3px;
}
.top-bar-button .icon.right {
  margin-top: 0 !important;
}
.top-bar-button .btn-text {
  font-family: "ArticulatCF";
  font-weight: 500;
  color: #485269;
  font-size: 14px;
  font-style: normal;
  -webkit-text-stroke: inherit;
}
.top-bar-button:hover:not(.toggle-button) {
  background: #EEF2FA;
  padding: 8px;
}
.top-bar-button:hover:not(.toggle-button) .btn-text {
  color: #5377FC;
}
.top-bar-button:hover:not(.toggle-button) .icon path, .top-bar-button:hover:not(.toggle-button) .icon circle {
  stroke: #4162DC !important;
}
.top-bar-button:focus:not(.toggle-button) {
  outline: none;
}
.top-bar-button.selected:not(.toggle-button) {
  background: #EEF2FA;
  transition: background 0.3s ease;
  padding: 8px;
}
.top-bar-button.selected:not(.toggle-button) .btn-text {
  color: #4162DC;
}
.top-bar-button.selected:not(.toggle-button) .icon path, .top-bar-button.selected:not(.toggle-button) .icon circle {
  stroke: #4162DC !important;
}
