.kori__border_orange-15-16, ::deep .kori-enabled.selected {
  border: 15px solid transparent;
  border-image: url("/_content/Sparc.Kori/borders/orange-16.svg") 15 round;
  border-image-outset: 4px;
  border-radius: 16px;
}

::deep .kori-enabled {
  position: relative;
  border: 0px solid transparent;
  transition: 200ms ease-in-out;
}
::deep .kori-enabled:hover {
  /*border: 1px solid var(--orange-500);*/
  cursor: pointer;
}
::deep .kori-enabled.selected {
  background: white;
  color: var(--grey-900);
}
::deep .kori-enabled.empty-content {
  min-height: 1em;
}

.mode-search {
  border: 5px solid blue;
}

.mode-language {
  border: 5px solid green;
}

.mode-blog {
  border: 5px solid red;
}

.mode-abtesting {
  border: 5px solid purple;
}
