<section id="@_id" class="kori-content @ModeClass">
    @ChildContent
</section>

<Sparc.Kori.Login.KoriLogin />
<KoriTopBar OnModeChanged="HandleModeChanged" @rendermode="RenderMode.InteractiveServer" />

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    string ModeClass => !string.IsNullOrEmpty(Kori.Mode) ? $"mode-{Kori.Mode.ToLower()}" : "";
    string _id = $"kori-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Kori.InitializeAsync(Nav.Uri, _id);
            Nav.LocationChanged += async (sender, args) => await Kori.InitializeAsync(args.Location, _id);
            StateHasChanged();
        }
    }

    void HandleModeChanged(string mode)
    {
        Kori.Mode = mode;
        StateHasChanged();
    }

    protected override void OnInitialized() => Kori.StateChanged += OnStateChanged!;

    private void OnStateChanged(object sender, EventArgs e) => this.InvokeAsync(this.StateHasChanged);
}