<button class="top-bar-button @(IsSelected ? "selected" : "")" onclick="@ModeChanged">
    <Sparc.Kori.Icons.TopBarIcons Mode="@Mode" />
    @if (ShowText)
    {
        <span class="btn-text">@Mode</span>
    }
</button>

@code {
    [Parameter] public required string Mode { get; set; }
    [Parameter] public required string Icon { get; set; }
    [Parameter] public EventCallback<string> OnClick { get; set; }
    [Parameter] public bool ShowText { get; set; } = true;

    async Task ModeChanged() => await OnClick.InvokeAsync(Mode);
    bool IsSelected => Kori.Mode == Mode;
}