.kori-ignore {
    -webkit-text-stroke: initial;
}

#kori-top-bar {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 1000;
    background: var(--white);
    font-family: 'ArticulatCF';
    font-weight: 500;
    line-height: normal;
    cursor: default;

    &.show {
        display: flex;
    }

    .btn-text, .content {
        font-family: 'ArticulatCF';
        font-weight: 500;
        color: #485269;
        font-size: 14px;
        font-style: normal;
    }

    section {
        width: 100%;
    }

    .top-bar-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 6px 16px;
        gap: 8px;

        .hidden {
            display: none;
        }

        .left-buttons, .right-buttons {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .right-buttons {
            .top-bar-button {
                width: 40px;
            }
        }

        .left-buttons {
            .toggle-button {
                width: 28px;
                height: 28px;
                padding: 0;
                background: none;
                box-shadow: none;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background: #EEF2FA;
                    border-radius: 50%;
                }

                img {
                    width: 28px;
                    height: 28px;
                    margin: auto;
                    cursor: pointer;
                }

                &.toggle-off {
                    img {
                        width: 24px;
                        height: 24px;
                        margin-top: -1px;
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    .bottom-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 16px;
        height: 44px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);

        header {
            display: flex;
            margin: 0 !important;
            width: fit-content !important;

            img {
                width: 60px;
                height: auto;
                margin-top: -4px;
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            padding-right: 76px;
            text-align: center;

            button {
                display: flex;
                width: 32px;
                height: 32px;
                padding: 8px;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                border: 1px solid #4162DC;
                background: #5377FC;
                font-family: 'ArticulatCF';
                font-size: 14px;
                font-style: normal;
                transition: all 0.3s ease-in-out;

                &.icon-btn {
                    svg {
                        margin-top: 0 !important;
                    }
                }

                &:hover {
                    background: #EEF2FA;
                    color: #5377FC;
                    border-color: transparent;
                }

                &:active {
                    background: #EEF2FA;
                    color: #4162DC;
                    border-color: transparent;
                }
            }
        }

        .save-btn {
            @extend .kori-btn__tertiary;
            border: 1px solid var(--Gray-800, #363E51) !important;            
            width: 64px;
        }
    }
}

// buttons

button {
    .icon-btn {
        width: 32px;

        svg {
            margin-top: 0 !important;
        }
    }
}

.kori-btn__primary {
    display: flex;
    height: 32px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Blue-500, #4162DC);
    background: var(--Blue-400, #5377FC);
    color: var(--White, #FFF);
    font-family: 'ArticulatCF';
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    transition: all 0.3s ease-in-out;

    &:hover {
        border-radius: 8px;
        border: 1px solid var(--Blue-500, #4162DC);
        background: var(--Blue-300, #708DF6);
    }

    &:active {
        border-radius: 8px;
        border: 1px solid var(--Blue-500, #4162DC);
        background: var(--Blue-500, #4162DC);
    }

    &:disabled, &[disabled] {
        border: 1px solid var(--Blue-500, #4162DC);
        background: var(--Blue-400, #5377FC);
        opacity: 0.5;
    }
}

.kori-btn__secondary {
    display: flex;
    height: 32px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Gray-800, #363E51);
    background: var(--White, #FFF);
    color: var(--Gray-800, #363E51);
    font-family: 'ArticulatCF';
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    transition: all 0.3s ease-in-out;

    &:hover {
        border: 1px solid var(--Gray-800, #363E51);
        background: var(--Gray-50, #EEF2FA);
    }

    &:active {
        border: 1px solid var(--Gray-800, #363E51);
        background: var(--Gray-100, #DDE5F5);
    }

    &:disabled, &[disabled] {
        border: 1px solid var(--Gray-800, #363E51);
        background: var(--White, #FFF);
        opacity: 0.5;
    }
}

.kori-btn__tertiary {
    display: flex;
    height: 32px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 0px solid var(--Blue-50, #F1F3FE);
    background: var(--White, #FFF);
    color: var(--Gray-800, #363E51);
    font-family: 'ArticulatCF';
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    transition: all 0.3s ease-in-out;

    &:hover {
        border: 0px solid var(--Blue-100, #B7C6FF);
        background: var(--Gray-50, #EEF2FA);
    }

    &:active {
        border: 0px solid var(--Blue-100, #B7C6FF);
        background: var(--Gray-100, #DDE5F5);
    }

    &:disabled, &[disabled] {
        border: 1px solid var(--Blue-50, #F1F3FE);
        background: var(--White, #FFF);
        opacity: 0.5;
    }
}