dialog[open] {
  --yellow-50: #FFFCF6;
  --purple-50: #F7F2FC;
  --purple-100: #DABEFA;
  --purple-500: #6A2FD0;
  --purple-800: #2B1C45;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background: var(--yellow-50);
  width: 100%;
  max-width: 996px;
  border-radius: 20px;
  color: var(--purple-800);
  box-sizing: border-box;
  border: none;
  z-index: 10000;
  max-height: 100%;
}
dialog[open] header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
dialog[open] header div {
  display: flex;
  align-items: center;
  gap: 8px;
}
dialog[open] header div h3 {
  font-size: 2.133rem;
  font-weight: 500;
  line-height: 110%;
}
dialog[open] header button {
  background: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 32px;
  padding: 8px 10px;
}
dialog[open] header button:hover ::deep svg path {
  stroke: var(--purple-500);
}
dialog[open] section {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1;
  min-height: 0;
}
dialog[open] section .column:first-of-type > section:first-of-type, dialog[open] section .column:last-of-type > section:first-of-type {
  flex: 1 1 auto;
}
dialog[open] section .column:first-of-type > section:not(:first-of-type), dialog[open] section .column:last-of-type > section:not(:first-of-type) {
  flex: 0 0 auto;
}
dialog[open] section .column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-height: 0;
  align-self: stretch;
}
dialog[open] section .column > section:first-of-type {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
dialog[open] section .column > section:not(:first-of-type) {
  flex-shrink: 0;
  margin-top: auto;
}
dialog[open] section .column > section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 20px;
  border: 1px solid var(--purple-50);
  padding: 20px;
  min-height: 0;
  min-height: fit-content;
  height: auto;
}
dialog[open] section .column > section > header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
dialog[open] section .column > section > header h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 140%;
}
dialog[open] section .column > section > header p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  color: rgba(43, 28, 69, 0.9);
}
dialog[open] section .column > section > header ::deep svg {
  align-self: center;
}
dialog[open] section .column > section > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
dialog[open] section .column > section > div input, dialog[open] section .column > section > div select, dialog[open] section .column > section > div textarea {
  color: var(--purple-800);
}
dialog[open] section .column > section > div input,
dialog[open] section .column > section > div textarea {
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid var(--purple-100);
  background: transparent;
}
dialog[open] section .column > section > div textarea {
  min-height: 8rem;
  flex: 1 1 auto;
  height: 100%;
  resize: none;
}
dialog[open] section .column > section > div label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}
dialog[open] section .column > section > div figure {
  height: 220px;
  border-radius: 200px;
  margin: 0;
}
dialog[open] section .column > section > div figure svg {
  padding: 31px;
}
dialog[open] section .column > section ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  flex: 1;
}
dialog[open] section .column > section ul li {
  display: flex;
  padding: 0 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
dialog[open] section .column > section ul li div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
dialog[open] section .column > section ul li div span {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}
dialog[open] section .column > section ul li button {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  color: var(--purple-500);
  background: none;
  margin-right: 0.8rem;
}
dialog[open] section .column > section ul li button:hover {
  text-decoration: underline;
}
dialog[open] section .column > section.app-links {
  padding: 1.6rem;
  gap: 1.6rem;
}
dialog[open] section .column > section.app-links > header {
  gap: 0.4rem;
}
dialog[open] section .column > section.app-links > div {
  flex-direction: row;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  gap: 7px;
}
dialog[open] section .column > section.app-links > div > article {
  all: unset;
  display: flex;
  width: 51.2px;
  height: 51.2px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid transparent;
  overflow: hidden;
}
dialog[open] section .column > section.app-links > div > article ::deep svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
dialog[open] section .column > section.app-links > div > article:hover {
  border: 1px solid var(--purple-800);
}
dialog[open] section .column > section.profile-customization {
  flex: 0 0 auto;
}
dialog[open] section .column > section.profile-customization > header {
  gap: 0.4rem;
}
dialog[open] section .column > section.profile-customization > div {
  gap: 16px;
}
dialog[open] section .column > section.profile-customization > div:first-of-type {
  width: 220px;
  align-self: center;
}
dialog[open] section .column > section.user-details {
  flex: 1 1 auto;
  padding: 1.6rem;
  gap: 1.6rem;
}
dialog[open] section .column > section.user-details > div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
dialog[open] section .column > section.user-details > div label:last-of-type {
  flex: 1 1 auto;
}
dialog[open] section .column > section tovik-language {
  width: 100%;
  position: relative;
}
dialog[open] section .column > section tovik-language ::deep select {
  appearance: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid var(--purple-100);
  background: transparent;
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
}
dialog[open] section .column > section tovik-language ::deep select option {
  background: var(--yellow-50);
}
dialog[open] section .column > section tovik-language::after {
  content: "";
  position: absolute;
  right: 2.2rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
  width: 6px;
  height: 6px;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

@media (min-width: 768px) {
  article section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  article section .column {
    width: calc(50% - 4px);
  }
}
@media (min-width: 996px) {
  article section {
    flex-wrap: nowrap;
  }
  article section .column {
    width: 320px;
  }
}
@media (max-height: 634px) {
  article section .column > section.profile-customization > div:first-of-type {
    width: 160px;
  }
  article section .column > section.profile-customization > div:first-of-type figure {
    height: 160px;
  }
  article section .column > section.profile-customization > div:first-of-type {
    gap: 14px;
  }
}
