@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using Microsoft.AspNetCore.SignalR.Client;
@implements IAsyncDisposable

<CascadingValue Value="Connection">
    @ChildContent

    @if (Connection != null)
    {
        <aside class="realtime-hub realtime-hub-@Connection.State.ToString()">
            @switch (Connection.State)
            {
                case HubConnectionState.Connecting:
                    <span>Connecting...</span>
                    break;
                case HubConnectionState.Reconnecting:
                    <span class="">Connection lost, attempting to reconnect...</span>
                    break;
                case HubConnectionState.Disconnected:
                    if (HasError)
                    {
                        <span>
                            Unable to connect to room! Check your internet connection.
                            <button @onclick="ConnectAsync">Try again</button>
                        </span>
                    }
                    else
                    {
                        <span></span>
                    }
                    break;
                case HubConnectionState.Connected:
                    <span>
                    </span>
                    break;
            }
        </aside>
    }
</CascadingValue>

@inject IAccessTokenProvider AccessTokenProvider
@code {
    [Parameter] public string Url { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public EventCallback<HubConnection> OnConnected { get; set; } = default;

    HubConnection? Connection { get; set; }
    bool IsConnected => Connection?.State == HubConnectionState.Connected;
    string? AccessToken { get; set; }
    bool HasError;

    protected override async Task OnInitializedAsync()
    {
        Connection = new HubConnectionBuilder()
            .WithUrl(Url, options =>
                {
                    options.AccessTokenProvider = () => Task.FromResult(AccessToken);
                })
            //.AddMessagePackProtocol()
            .WithAutomaticReconnect()
            .Build();

        Connection.On("ReceiveMessage", () => { }); // placeholder event so that we can add more On events afterward

        await ConnectAsync();

        if (Connection.State == HubConnectionState.Connected && OnConnected.HasDelegate)
            await OnConnected.InvokeAsync(Connection);
    }

    async Task ConnectAsync()
    {
        if (Connection == null)
            return;

        var attempts = 5;
        HasError = false;

        // Keep trying to connect until we can start or the token is canceled.
        while (attempts > 0)
        {
            try
            {
                var provider = await AccessTokenProvider.RequestAccessToken();
                if (provider.TryGetToken(out var token))
                    AccessToken = token.Value;
                else
                    throw new Exception("Access token not available");

                await Connection.StartAsync();
                return;
            }
            catch
            {
                // Failed to connect, trying again in 3000 ms.
                await Task.Delay(3000);
                attempts--;
            }
        }

        HasError = true;
    }

    public async ValueTask DisposeAsync()
    {
        if (Connection is not null)
        {
            await Connection.DisposeAsync();
        }
    }
}
