
<header>
    <h4>Your Apps</h4>
    <p>Select app images to go to app page or store page</p>
</header>
<div>
    <article>
        <a href="">
            <SparcApp />
        </a>
    </article>
    <article>
        <a href="">
            <TimbiiApp />
        </a>
    </article>
    <article>
        <a href="">
            <SparcApp />
        </a>
    </article>
    <article>
        <a href="">
            <TimbiiApp />
        </a>
    </article>
    <article>
        <a href="">
            <SparcApp />
        </a>
    </article>
    <article>
        <a href="">
            <TimbiiApp />
        </a>
    </article>
</div>

