@using Sparc.Blossom.Realtime

<div>
    <ColorSelector @bind-BackgroundColor="UserAvatar.BackgroundColor" @bind-BackgroundColor:after=Save />
    <EmojiSelector Avatar="UserAvatar" EmojiChanged="HandleEmojiChanged" />
</div>

@inject ISparcAura Aura
@inject SparcEvents Events
@code {
    [Parameter] public required BlossomAvatar UserAvatar { get; set; }

    private async Task HandleEmojiChanged(string emoji)
    {
        UserAvatar.Emoji = emoji;
        await Save();
    }

    async Task Save()
    {
        await Aura.UpdateUserInfo(UserAvatar);
        await Events.OnAvatarChanged(UserAvatar);
    }
}
