@using Sparc.Blossom.Authentication

<div class="color-selector">
    <h3>Background Color</h3>
    <ul class="colors">
        @foreach (var color in SparcUser.BackgroundColors())
        {
            <li @onclick="() => SetColor(color)" class="@(BackgroundColor == color ? "selected" : "")">
                <span style="background: @color">&nbsp;</span>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter] public string BackgroundColor { get; set; } = "";

    [Parameter] public EventCallback<string> BackgroundColorChanged { get; set; }

    private async Task SetColor(string color)
    {
        BackgroundColor = color;
        await BackgroundColorChanged.InvokeAsync(color);
    }
}