@using Sparc.Blossom.Realtime

@if (!User.HasVerifiedIdentity("Passwordless"))
{
    <header>
        <h4>Set Up Your Profile</h4>
        <p>
            Sign in securely with a passkey —- a modern, password-free method that stores your profile safely on your device.
        </p>
        <p>
            Your passkey stays private and is never shared with us or any third parties.
        </p>
    </header>

    <form @onsubmit="Register">
        <input type="text" @bind="Username" placeholder="Choose a username" @bind:event="oninput" />
        <button type="button" class="primary-btn" @onclick="Register" disabled="@CantSave">
            Save
        </button>
    </form>

    @if (Message != null)
    {
        <p class="message">
            @Message
        </p>
    }

    <aside>
        Already have a profile for this app?
        <button class="link-btn" @onclick=Login disabled="@IsLoggingIn">
            Sign In
        </button>
    </aside>
}
else
{
    <header>
        <h4>Welcome Back</h4>
        <p>You are signed in and your data is protected.</p>
    </header>
    <button class="secondary-btn" @onclick=Logout>
        Sign Out
    </button>
}

@inject PasskeyAuthenticator Auth
@inject NavigationManager Nav
@inject ISparcAura Aura
@inject SparcEvents Events
@code
{
    [Parameter] public required BlossomUser User { get; set; }
    bool IsLoggingIn;
    string? Message;
    string? Username;
    bool CantSave => string.IsNullOrWhiteSpace(Username) || IsLoggingIn;

    BlossomIdentity? Passkey => User.Identities.FirstOrDefault(x => x.Type == "Passwordless");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Auth.InitializeAsync();
    }

    async Task Register()
    {
        IsLoggingIn = true;
        Message = null;
        StateHasChanged();

        try
        {
            if (Passkey == null)
            {
                await Auth.RegisterAsync();
                await Aura.UpdateUserInfo(User.Avatar);
            }
            else if (Username != null && Username != User.Avatar.Username)
            {
                User.Avatar.Username = Username;
                await Aura.UpdateUserInfo(User.Avatar);
            }

            Message = "Your profile has been saved successfully!";
            IsLoggingIn = false;
            await Events.OnAvatarChanged(User.Avatar);
        }
        catch (Exception e)
        {
            IsLoggingIn = false;
            Message = e.Message;
        }
    }

    async Task Login()
    {
        IsLoggingIn = true;
        Message = null;

        StateHasChanged();

        try
        {
            await Auth.LoginAsync();
        }
        catch (Exception e)
        {
            IsLoggingIn = false;
            Message = e.Message;
        }
    }

    private async Task Logout()
    {
        var confirm = await Js.InvokeAsync<bool>("confirm", "Are you sure you want to sign out?");
        if (!confirm)
            return;

        Nav.NavigateTo("/_signout", true);
    }
}