@if (User.HasVerifiedIdentity("Passwordless"))
{
    <div class="verify-contact">
        <header>
            <h4>Your Sign-In Methods</h4>
            @if (IsVerifying)
            {
                <p>Check your email for a verification code, and enter it below to verify your email address as a backup sign-in method.</p>
            }
            else if (!VerifiedIdentities.Any(x => x.Type == "Email" || x.Type == "Phone"))
            {
                <p>To keep your account secure, help with recovery, and support cross-device access, please add at least one backup sign-in email address.</p>
            }
        </header>
        <ul>
            @if (IsVerifying)
            {
                <li>
                    <div>
                        <span>@EmailOrPhone</span>
                    </div>
                    <form class="verify">
                        <input type="text" placeholder="Enter code" @bind="VerificationCode" @bind:event="oninput" />
                        <button type="button" class="primary-btn" @onclick="Verify">Verify</button>
                    </form>
                </li>
            }

            @foreach (var identity in VerifiedIdentities)
            {
                <li>
                    <div>
                        <span>@(identity.Type == "Passwordless" ? "Passkey" : identity.Id)</span>
                        <Check />
                    </div>
                    <button class="link-btn" @onclick=@(() => Unlink(identity))" title="Unlink From This Account"><Close /></button>
                </li>
            }

        </ul>

        @if (!IsVerifying)
        {
            <form @onsubmit="Register">
                <input type="email" @bind="EmailOrPhone" placeholder="Add an email address..." />
                <button type="button" class="primary-btn" @onclick="Register">Add</button>
            </form>

            @if (Message != null)
            {
                <p class="message">
                    @Message
                </p>
            }
        }
    </div>
}

@inject ISparcAura Aura
@code {
    [Parameter] public required BlossomUser User { get; set; }
    List<BlossomIdentity> VerifiedIdentities = [];
    string EmailOrPhone = "";
    string? Message;
    bool IsVerifying = false;
    string VerificationCode { get; set; } = "";

    protected override void OnParametersSet()
    {
        VerifiedIdentities = User.Identities
            .Where(x => x.IsVerified)
            .ToList();
    }

    async Task Register()
    {
        if (string.IsNullOrWhiteSpace(EmailOrPhone))
            return;

        var result = await Aura.Login(EmailOrPhone);
        IsVerifying = true;
    }

    async Task Verify()
    {
        var login = await Aura.Login("totp:" + VerificationCode);
        if (login.AccessToken != null)
        {
            VerifiedIdentities = login.User.Identities
                .Where(x => x.IsVerified)
                .ToList();
            IsVerifying = false;
            EmailOrPhone = "";
        }
        else
        {
            Message = "Invalid verification code. Please try again.";
        }
    }

    async Task Unlink(BlossomIdentity identity)
    {
    }
}