<div class="verify-contact">
    <header>
        <h4>Your Sign-In Methods</h4>
    </header>
    <ul>
        @if (IsVerifying)
        {
            <li>
                <div>
                    <span>@EmailOrPhone</span>
                </div>
                <form>
                    <input type="text" placeholder="Verification Code" @bind="VerificationCode" @bind:event="oninput" />
                    <button type="button" class="primary-btn" @onclick="Verify">Verify</button>
                </form>
            </li>
        }

        @foreach (var identity in VerifiedIdentities)
        {
            <li>
                <div>
                    <span>@(identity.Type == "Passwordless" ? "Passkey" : identity.Id)</span>
                    <Check />
                </div>
                <button class="link-btn" @onclick=@(() => Unlink(identity))">Unlink</button>
            </li>
        }
    </ul>

    @if (User.HasVerifiedIdentity("Passwordless") && !User.HasVerifiedIdentity("Email") && !User.HasVerifiedIdentity("Phone") && !IsVerifying)
    {
        <header>
            <h4>Add Backup Sign-In Method (recommended)</h4>
            <p>To keep your account secure, help with recovery, and support cross-device access, please add at least one backup sign-in method (email or phone).</p>
        </header>
        @if (!IsVerifying)
        {
            <form @onsubmit="Register">
                <input type="text" @bind="EmailOrPhone" placeholder="Phone number or Email" />
                <button type="button" class="primary-btn" @onclick="Register">Verify</button>
            </form>
        }
        @if (Message != null)
        {
            <p class="message">
                @Message
            </p>
        }
    }
</div>

@inject ISparcAura Aura
@code {
    [Parameter] public required BlossomUser User { get; set; }
    List<BlossomIdentity> VerifiedIdentities = [];
    string EmailOrPhone = "";
    string? Message;
    bool IsVerifying = false;
    string VerificationCode { get; set; } = "";

    protected override void OnParametersSet()
    {
        VerifiedIdentities = User.Identities
            .Where(x => x.IsVerified)
            .ToList();
    }

    async Task Register()
    {
        if (string.IsNullOrWhiteSpace(EmailOrPhone))
            return;

        var result = await Aura.Login(EmailOrPhone);
        IsVerifying = true;
    }

    async Task Verify()
    {
        var login = await Aura.Login("totp:" + VerificationCode);
        if (login.AccessToken != null)
        {
            VerifiedIdentities = login.User.Identities
                .Where(x => x.IsVerified && (x.Type == "Email" || x.Type == "Phone"))
                .ToList();
            IsVerifying = false;
            EmailOrPhone = "";
        }
        else
        {
            Message = "Invalid verification code. Please try again.";
        }
    }

    async Task Unlink(BlossomIdentity identity)
    {
    }
}