.modal {
  width: 332px;
  padding: 24px;
  border-radius: 16px;
  background: var(--yellow-50);
  animation: fadeIn 1s ease-in-out;
}
.modal.language-modal {
  top: 44%;
}
.modal header {
  margin-bottom: 16px;
}
.modal header h3 {
  color: var(--gray-900);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.16px;
}
.modal div {
  width: 100%;
}
.modal footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
