@page "/authentication/{action}"

<div class="sparc-authentication">
    <p>Performing @Action...</p>
</div>

@using Microsoft.AspNetCore.WebUtilities
@inject Sparc.Core.ISparcAuthenticator Auth
@inject NavigationManager Nav

@code {
    [Parameter] public string Action { get; set; }
    System.Security.Claims.ClaimsPrincipal CurrentUser { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        switch (Action.ToLowerInvariant())
        {
            case "login":
                if (await Auth.LoginAsync())
                {
                    Nav.NavigateTo("/");
                }
                break;
            case "logout":
                await Auth.LogoutAsync();
                Nav.NavigateTo("/");
                break;
        }
    }
}