::deep dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: min(90dvw, 1000px);
    height: min(90dvh, 600px);
    padding: 0 24px 24px 24px;
    background: var(--aura-background);
    border-radius: 32px;

    .column {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        padding: 24px 0;
        background: var(--aura-background);

        > div {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        button {
            background: transparent;
            border: none;

            svg path {
                stroke: var(--aura-text);
            }
        }
    }

    > section {
        max-height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;

        section {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        @media (orientation: landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100%;

            .column {
                max-height: 100%;
                overflow-y: auto;
            }

            .column-2 {
                justify-content: space-between;
            }
        }
    }
}
