@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<button class="btn btn-primary" @onclick="AddRandomData">Add Random Data</button>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
            @if(forecasts.Count == 0)
            {
                <tr>
                    <td colspan="4">No Data Found</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ICollection<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Api.GetWeatherForecastAsync();
    }

    private async void AddRandomData()
    {
        forecasts = await Api.AddRandomWeatherForecastAsync();
        StateHasChanged();
    }
}
