@inject NavigationManager Navigation

<div class="sparc-redirecttologin">
    Logging you in...
</div>

@code {
    protected override void OnParametersSet()
    {
        Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
    }
}